body {
    background-color: #fff;
}

.card {
    padding: 0%;
}

.card-title {
    color: #282828;
    size: 14px;
}

.card-description {
    color: #282828;
    size: 12px;
}

.card img {
    width: 288px;
    height: 182px;
}